.log{
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}
form{
    /*border: double;*/
    margin-right: 280px;
    margin-left: 280px;
    margin-top: 30px;


    text-align: center;
    /*padding-bottom: 60px;*/

    background-color: grey;

}